rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // During exercise & node server integration:
    // Direct client access is guarded by backend endpoints.
    // Allow read/write for database operations while client requests are mediated by server.ts
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
